doctype=html
html
  head
    title My Spotify API app ✨
    link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')
    link(rel='stylesheet' href='/style.css')
  
  body
    block content

